body{
    margin: 0;
}
#jumb{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
#jumb .informations{
    display: flex;
    flex : 0 0 100%;
    justify-content: center;
}
#jumb .search{
    display: flex;
    flex-wrap: wrap;
    flex : 0 0 100%;
    justify-content: center;
}
#jumb .search_location{
    display: flex;
    flex : 0 0 100%;
    justify-content: center;
    margin-bottom: 30px;
}
#jumb .search_button{
    display: flex;
    flex : 0 0 50%;
    justify-content: space-around;
}
#jumb .search_button > button{
    background-color: white;
    border: navajowhite;
    padding : 10px;
    flex : 0 0 30%;
    box-shadow: 5px 4px 5px #00000036;
    border: 1px solid #0000001f;
}
#jumb .search_location_input{
    display: flex;
    flex: 0 0 50%;
    box-shadow: 5px 4px 5px #00000036;
}
#jumb .search_location_input > span{
    background-color: white;
}
#jumb .search_location_input > input{
    width: 100%;
    border: none;
    padding: 10px 5px;
}
#jumb .jump_content{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    align-self: center;
}